# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Formatting text in Markdown
- Calculation

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib

<table>
    <tr><th>Data Science Tools</th></tr>  
    <tr><td>Jupyter Notebook</td></tr>
    <tr><td>Jupyter Lab</td></tr>
    <tr><td>Anaconda</td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

 ## Author
 Anna Rývová